p {
    margin: 0;
}

.font-title {
    color: var(--Black, #2B2B2B);
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.font-word {
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.lay-out {
    width: 1440px;
    height: 8063px;
    background-color: #F0F0F6;
    display: flex;
    justify-content: space-between;
}

.side-bar {
    width: 305px;
    height: 1315px;
    flex-shrink: 0;
    background:#FFF;
    display: flex;
    flex-direction: column;
    padding: 50px 45px 25px 40px;
    box-sizing: border-box;
    align-items: center;
}

.side-bar-profile {
    width: 150px;
    height: 150px;
    padding: 0px 36px 31px 34px
}

.side-bar-title {
    width: 142px;
    height: 42px;
    padding: 0px 41px 15px 37px;
}

.side-bar-major {
    width: 151px;
    height: 24px;
    padding: 0px 35px 15px 34px;
    color: #767676;
}


.main-side {
    width: 970px;
}

.right-side {
    width: 108px;
    height: 1315px;
    background:#FAFAFA;
    box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.10);
    display: flex;
    flex-direction: column;
}

.right-side-contract {
    width: 30px;
    height: 30px;
    padding: 50px 39px 174px 39px;
}

.right-side-Pop-up {
    width: 65px;
    height: 33px;
    padding: 0px 22px 5px 21px;
}

.right-side-item {
    width: 40px;
    height: 40px;
    padding: 0px 34px 43px 34px;
}