p {
    margin: 0;
}

.font-title {
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.font-word {
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.lay-out {
    width: 1440px;
    height: 8063px;
    background-color: #F0F0F6;
    display: flex;
    justify-content: space-between;
}

.side-bar {
    width: 305px;
    height: 1315px;
    flex-shrink: 0;
    background:#FFF;
    display: flex;
    flex-direction: column;
    padding: 50px 45px 25px 40px;
    box-sizing: border-box;
    align-items: center;
}

.side-bar-line {
    width: 220px;
    height: 1.5px;
    background-color: #F0F0F6;
    margin: 25px 0px 25px 0px;
}

.side-bar-profile {
    width: 150px; 
    height: 150px;
    padding: 0px 36px 31px 34px ;
}

.side-bar-title {
    width: 142px;
    height: 22px;
    padding: 0px 41px 15px 37px;
}

.side-bar-major {
    width: 153px;
    height: 24px;
    padding: 0px 34px 15px 33px;
    color: #767676;
}

.side-bar-icon {
    width: 219px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.side-bar-icon-item {
    width: 24px;
    height: 24px;
}

.side-bar-info {
    width: 220px;
    height: 126px;
    display: flex;
    flex-direction: column;
    color: #2B2B2B;
    gap: 10px;
}

.side-bar-info-container {
    width: 220px;
    height: 24px;
    display: flex;
    justify-content: space-between;

}

.side-bar-info-container-age {
    background-color: #FFB400;
    padding: 1px 8px 1px 5px
}
.side-bar-info-container-residence {
    background-color: #FFB400;
    padding: 0px 5px 0px 6px
}
.side-bar-info-container-freelance {
    background-color: #FFB400;
    padding: 0px 5px 0px 6px
}
.side-bar-info-container-address {
    background-color: #FFB400;
    padding: 0px 5px 0px 7px
}

.side-bar-language {
    width: 220px;
    height: 153px;
    display: flex;
    flex-direction: column;
}

.side-bar-language-container {
    width: 220px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    color: #767676;
    padding-bottom: 5px;
}

.side-bar-language-img {
    width: 220px;
    height: 4px;
    padding-bottom: 9px;
}

.side-bar-skill {
    width: 220px;
    height: 242px;
    display: flex;
    flex-direction: column;
}

.side-bar-skill-container {
    width: 220px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    color: #767676;
    padding-bottom: 5px;
}

.side-bar-skill-img {
    width: 220px;
    height: 4px;
    padding-bottom: 10px;
}



.main-side {
    width: 970px;
}

.right-side {
    width: 108px;
    height: 1315px;
    background:#FAFAFA;
    box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.10);
    display: flex;
    flex-direction: column;
}

.right-side-contract {
    width: 30px;
    height: 30px;
    padding: 50px 39px 174px 39px;
}

.right-side-Pop-up {
    width: 65px;
    height: 33px;
    padding: 0px 22px 5px 21px;
}

.right-side-item {
    width: 40px;
    height: 40px;
    padding: 0px 34px 43px 34px;
}